# Node dependencies
node_modules/
**/node_modules/

# Build output
www/
**/www/
dist/
**/dist/
build/
**/build/

# Mobile build output
android/
ios/

# .NET build output
**/bin/
**/obj/

# Database files
*.db
*.db-shm
*.db-wal

# Angular cache
.angular/
**/.angular/

# Environment files
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE and project settings
.vscode/
/backend/api/.vs/QRAlbums.API
/backend/api/obj/Debug/net8.0/QRAlbums.API.AssemblyInfo.cs
/backend/api/obj/Debug/net8.0/QRAlbums.API.AssemblyInfoInputs.cache
/backend/api/obj/Debug/net8.0/QRAlbums.API.assets.cache
/backend/api/obj/Debug/net8.0/QRAlbums.API.GeneratedMSBuildEditorConfig.editorconfig
/backend/api/obj/Debug/net8.0/QRAlbums.API.csproj.AssemblyReference.cache
/backend/api/obj/Debug/net8.0/QRAlbums.API.csproj.CoreCompileInputs.cache
/backend/api/obj/Debug/net8.0/QRAlbums.API.csproj.FileListAbsolute.txt
/backend/api/obj/Debug/net8.0/QRAlbums.API.sourcelink.json
/backend/api/obj/project.assets.json
/backend/api/obj/QRAlbums.API.csproj.nuget.dgspec.json
/backend/api/obj/QRAlbums.API.csproj.nuget.g.props
/backend/api/obj/project.nuget.cache
/backend/api/obj/Debug/net8.0/QRAlbums.API.MvcApplicationPartsAssemblyInfo.cs
/backend/api/obj/QRAlbums.API.csproj.nuget.g.targets
*.bin
*.wsuo
/.vs/qralbumapkios/v17/DocumentLayout.json
