<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Change Password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <form (ngSubmit)="changePassword()">
    <ion-item>
      <ion-label position="stacked">Current Password</ion-label>
      <ion-input type="password" [(ngModel)]="currentPassword" name="currentPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">New Password</ion-label>
      <ion-input type="password" [(ngModel)]="newPassword" name="newPassword" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Confirm New Password</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" required></ion-input>
    </ion-item>
    <ion-text color="danger" *ngIf="error">{{ error }}</ion-text>
    <ion-button expand="block" type="submit" [disabled]="loading">Change Password</ion-button>
  </form>
</ion-content>
